.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 144rem);
  padding-block: 7rem;
  padding-inline: 9rem;

  @include respond(tab-land) {
    padding-inline: 4rem;
  }

  // @include respond(tab-port) {
  //   padding-block: 7rem;
  // }

  @include respond(phone-md) {
    padding-inline: 1rem;
  }

  // background-color: lightblue;
}
