.search-page,
.page-container {
  width: min(100%, 144rem);

  // background-color: rgb(47, 71, 177);
}

.heading-search {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  padding: 2rem;

  background-color: rgba(95, 85, 85, 0.329);
}

.search-results {
  width: 100%;
  margin-top: -2rem;
  color: #333;

  // background-color: #f2f2f2;

  span {
    color: #e11d48ff;
  }
}
